<template>
  <div class="about">
    <div id="breadcrumb" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="breadcrumb-header">About Page</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row" style="display: flex; justify-content: space-around">
          <div class="col-md-6 col-xs-6">
              <div class="shop-body">
                <h2>About our<br>Company</h2>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem cum enim eum maiores minima minus mollitia non perspiciatis praesentium quaerat quas quis quo repellat ullam vitae, voluptas voluptate, voluptates.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda debitis deserunt dicta earum facilis fugiat ipsa, iure minima perferendis quam quisquam sequi ut velit vitae? Adipisci nam odio similique.</p>
                  <br>
                 <router-link to="/">
                    <button class="btn">
                      <h5 style="color: #fff;margin: 0;">Go to Shopping</h5>
                    </button>
                 </router-link>
              </div>
          </div>

          <div class="about_img col-md-3 col-xs-6">
              <img src="../assets/images/about.jpg" alt="">
          </div>
        </div>
      </div>
    </div>

    <div id="newsletter" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="newsletter">
              <p>Sign Up for the <strong>NEWSLETTER</strong></p>
              <form>
                <input class="input" type="email" placeholder="Enter Your Email">
                <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
              </form>
              <ul class="newsletter-follow">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.about_img img {
  transform: rotate(-20deg);
}
.btn {
  background: #D10024;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 300px;
}
</style>