<template>
  <div class="container my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead class="table-dark">
            <tr class="text-center">
              <th>Image</th>
              <th>Title</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
            </thead>

            <tbody class="">
            <tr v-for="c of cartStore" :key="c.id">
              <td class="d-flex align-items-center">
                <img :src="c.img" alt="{{ c.title }}" style="margin-left: 20px; margin-right: 0;" height="60" class="order-1">
                <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash" ></i></span>
              </td>

              <td><p>{{ c.title }}</p></td>
              <td><p>${{ c.price }}</p></td>

              <td>
                <form action="">
                  <div id="decrease"  class="value-button">
                    <i class="fa fa-minus"></i>
                  </div>
                  <input type="number" id="number" value="1">
                  <div id="increase"  class="value-button">
                    <i class="fa fa-plus"></i>
                  </div>
                </form>
              </td>

              <td>
                <p>{{c.price}}</p>
              </td>
            </tr>

            <tr class="border-0">
              <td style="border:none;"></td>
              <td style="border:none;"></td>
              <td style="border:none;"></td>
              <td style="border:none;">Total</td>
              <td style="border:none;">$4790</td>

            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 d-flex mb-5">
          <div class="d-flex justify-content-between flex-sm-column flex-md-row w-100">
            <router-link to="/checkout" class="btn btn-danger btn-sm order-1">Checkout</router-link>
            <router-link to="/" class="btn btn-success btn-sm order-0">Continue Shopping</router-link>

          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "CartPage",
  data() {
    return {
      totalPrice: 0,
      cartStore: [
        {
          id: 0,
          title: "Asus TUF GAMING",
          price: 1200,
          img: require("../assets/images/product01.png"),
          sale: true,
        },
        {
          id: 1,
          title: "EarPods 10th generation",
          price: 990,
          img: require("../assets/images/product02.png"),
          sale: true,
        },
        {
          id: 2,
          title: "iPad 3",
          price: 1100,
          img: require("../assets/images/product04.png"),
          sale: true,
        },
        {
          id: 3,
          title: "Mackbook Pro M1",
          price: 1500,
          img: require("../assets/images/product03.png"),
          sale: true,
        },
      ],
    }
  },
}
</script>

<style scoped>
.increase_quantity, .decrease_quantity {
  cursor: pointer;
}

form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  padding: 10px 0 12px;
  text-align: center;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
}

form #increase {
  margin-left: -4px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


tbody tr:not(:last-of-type) td {
  border-right: 1px solid #dee2e6;
}
tbody tr:not(:last-of-type) td:first-of-type {
  border-left: 1px solid #dee2e6;
}
tbody tr:last-of-type td:first-child {
  border-top: 1px solid #dee2e6 !important;
}
tbody tr:last-of-type td:nth-child(4), tbody tr:last-of-type td:nth-child(5) {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}


</style>